<!-- Required Js -->
<script src="/assets/js/vendor-all.min.js"></script>
<script src="/assets/js/plugins/bootstrap.min.js"></script>
<script src="/assets/js/ripple.js"></script>
<script src="/assets/js/pcoded.min.js"></script>

<!-- Apex Chart -->
<script src="/assets/js/plugins/apexcharts.min.js"></script>


<!-- custom-chart js -->
<script src="/assets/js/pages/dashboard-main.js"></script>


<!-- Modal -->

<div id="exampleModalLive" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLiveLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLiveLabel">Xóa dữ liệu</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">
                <p class="mb-0">Bạn có chắc chắn muốn xóa không!</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn  btn-dark" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn  btn-danger">
                    <i class="fa fa-trash"></i>
                    Xóa
                </button>
            </div>
        </div>
    </div>
</div>


<!-- Xử lý form dữ liệu -->

<script>
    $(document).ready(function() {
        $('#formData').on('submit', function(e) {
            e.preventDefault();

            // 1. Khai báo
            var name = username = passwd = email = phone = address = '';
            var flag = 1;

            // 2. lấy dữ liệu

            name = $('#name').val();
            username = $('#username').val();
            passwd = $('#passwd').val();
            email = $('#email').val();
            phone = $('#phone').val();
            address = $('#address').val();

            // 3. Kiểm tra dữ liệu

            if (name == '') {
                flag = 0;
                $('.error_name').text('Vui lòng nhập tên');
            } else {
                $('.error_name').text('');
            }

            if (username == '') {
                flag = 0;
                $('.error_username').text('Vui lòng nhập tên đăng nhập');
            } else {
                $('.error_name').text('');
            }

            if (passwd == '') {
                flag = 0;
                $('.error_password').text('Vui lòng nhập mật khẩu');
            } else {
                $('.error_name').text('');
            }

            if (phone == '') {
                flag = 0;
                $('.error_phone').text('Vui lòng nhập số điện thoại');
            } else {
                $('.error_phone').text('');
            }

            if (address == '') {
                flag = 0;
                $('.error_address').text('Vui lòng nhập địa chỉ');
            } else {
                $('.error_address').text('');
            }

            if (email == '') {
                flag = 0;
                $('.error_email').text('Vui lòng nhập email');
            } else {
                $('.error_email').text('');
            }
            // Tổng kết

            if (flag == 1) {
                // Gửi ajax
                $.ajax({
                    url: 'formData',
                    type: 'POST',
                    data: {
                        name,
                        username,
                        passwd,
                        email,
                        phone,
                        address
                    },
                    success: function(response) {
                        console.log(response)
                    }
                });

                return false;
            }
        })
    })
</script>